.big-image {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
  background-image: url("https://images.prismic.io/mystique/11dbeb70-d0ec-44b4-8e7a-1eb945f5a1b9_98af1a8f-4c24-4d31-baef-258aca37d7b2-14814-interlaken-skydiving-experience-from-interlaken-over-the-swiss-alps-05.jpeg?auto=compress,format");
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay h1 {
  font-size: 104px;
  font-weight: bold;
}
