.nav-bar {
  background-color: black;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-text {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 60px;
}
.nav-logo {
  color: white;
  margin-right: 100px;
}

.nav-logo span {
  color: tomato;
}
