.footer-text {
  display: flex;
  justify-content: center;
}
.footer-text small {
  margin: 10px;
}
.footer {
  height: 150px;
  background-color: black;
  color: rgb(133, 132, 132);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer hr {
  width: 140px;
  margin-top: 0;
  color: white;
}
.hr-line {
  display: flex;
  justify-content: center;
}

.footer-text small:hover {
  color: rgb(190, 190, 190);
  text-decoration: underline;
}
.footer p:hover {
  color: rgb(190, 190, 190);
  text-decoration: underline;
}

.footer p {
  margin-bottom: 5px;
}
